.page
	background #fff
	font-display swap
	font-weight normal
	font-size 16px
	color #212121
	line-height 1.5
	tr(all .3s linear)


img
	display block
	max-width 100%
	height auto


// .wysiwyg

