extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/hero/hero
include /blocks/how/how
include /blocks/whom/whom
include /blocks/where/where
include /blocks/what/what
include /blocks/discuss/discuss
include /blocks/advantages/advantages
include /blocks/how-much/how-much
include /blocks/faq/faq
include /blocks/map/map


include /blocks/footer/footer
include /blocks/popup/popup



block head
	- var pageTitle = 'Диаграмма интернет-агенство';

block content
	+header()
	+hero()
	+how()#how
	+whom()#whom
	+where()#where
	+what()#what
	+discuss()#discuss
	+advantages()#advantages
	+how-much()#how-much
	+faq()#faq
	+map()#map
	+discuss().discuss_hide#discuss-second
	+footer()

	+popup().mfp-hide
	.page__overlay
