.discuss
	background-color #60cbe8
	overflow hidden
	&__container
		@extends .container
		padding-top 132px
		padding-bottom 143px
		text-align center
		color #FFF
	&__title
		margin-bottom 14px
		padding-right 20px
		@extends .title
	&__text
		margin-bottom 49px
		font-size 30px
		line-height 0.8
	&__form
		margin-left -30px
		margin-bottom 50px
		// padding-right 14px
	&__note
		font-size 18px
		line-height 1.33333333333333
		a
			color #FFF
			text-decoration underline
