mixin header()
	header.header
		.header__container
			a.header__logo.logo(href="#") Диаграмма интернет-агенство
			nav.header__nav.nav
				ul.header__list
					li.header__item
						a.header__link(href="#") Как это работает
					li.header__item
						a.header__link(href="#") Преимущества
					li.header__item
						a.header__link(href="#") Цены
					li.header__item
						a.header__link(href="#") О нас
					li.header__item
						a.header__link(href="#") Контакты
