mixin whom()
	section.whom&attributes(attributes)
		.whom__container
			h2.whom__title.title КОМУ БУДЕТ ПОЛЕЗНА ЭТА УСЛУГА
			ul.whom__list
				li.whom__item
					.whom__icon
						img(src="assets/images/content/whom-1.png", alt="")
					.whom__text Торговым сетям и магазинам формата «у дома»
				li.whom__item
					.whom__icon
						img(src="assets/images/content/whom-2.png", alt="")
					.whom__text Сервисным предприятиям
						span (салоны красоты, парикмахерские, химчистки, и т.д.)
				li.whom__item
					.whom__icon
						img(src="assets/images/content/whom-3.png", alt="")
					.whom__text Предприятиям из сферы общественного питания
				li.whom__item
					.whom__icon
						img(src="assets/images/content/whom-4.png", alt="")
					.whom__text Фитнес-центрам, спортивным секциям и тренажерным залам
				li.whom__item
					.whom__icon
						img(src="assets/images/content/whom-5.png", alt="")
					.whom__text Автомобильные услуги
						span (паркинги, шиномонтаж, сервис)
				li.whom__item
					.whom__icon
						img(src="assets/images/content/whom-6.png", alt="")
					.whom__text Застройщикам жилой недвижимости
						span (для продвижения новостроек на территории районов города)
