.whom
	background-color #f4f7f7
	&__container
		@extends .container
		padding-top 130px
		padding-bottom 0
		text-align center
	&__title
		margin-bottom 114px
		padding-right 25px
		color #60cbe8
	&__list
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items flex-start
	&__item
		margin-bottom 110px
		width 31%
		text-align center
	&__icon
		margin auto
		margin-bottom 30px
		img
			margin auto
	&__text
		padding-left 34px
		padding-right 34px
		color #595959
		font-size 18px
		line-height 1.4
		font-weight normal
		span
			display block
			color #8e8e8e
