mixin how()
	section.how&attributes(attributes)
		.how__container
			h2.how__title Как это работает

			.how__text
				p Поисковые системы и социальные сети хранят информацию о местоположении своих пользователей. Оно определяется по геолокации устройства, с помощью которого люди выходят в интернет. Для показа им рекламы достаточно указать радиус вокруг нужного места, и система подберет людей, часто бывающих на выделенной территории.

			.how__example
				.how__example-title Пример глазами клиента:
				ul.how__list
					li.how__item Человек просматривает любимый сайт
					li.how__item Видит на Ваше рекламное объявление.
					li.how__item Кликает по нему и попадает на страницу с подробностями (группу в соцсети или  ваш сайт).
					li.how__item Узнав подробности, приходит в торговую точку или звонит, чтобы заказать услугу.
			.how__image
				img(src="assets/images/content/how-img.png", alt="")

